/* Modal overlay */
.add-story-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Add Story Modal */
.add-story-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

/* Header of the modal */
/* .add-story-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-story-header h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000; */
/* } */

.add-story-header img {
    width: 24px;
    height: 24px;
    color: #FF0000;
    position: relative;
    left: 580px;
    cursor: pointer;
}

.add-story-header p {

    color: #474141;
    position: relative;
    right: 40px;
    font-size: 10px;
    font-weight: 700;
    text-align: right;
}

/* Slide buttons */
.slide-btn-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.slide-btn-container img {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    bottom: 15px;
    left: 5px;
}

.slide-btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.53px;
    width: 90px;
    height: 75px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px #0000001A;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-btn.active {
    border: 2px solid #73ABFF
}

.add-slide-btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 19.53px;
    color: #000000;
    width: 90px;
    height: 75px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px #0000001A;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-slide-btn .close-icon {
    font-size: 14px;
    color: #FF0000;
}

/* Input fields */
.add-story-modal label {
    color: #000000;
    width: 150px;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
}

.add-story-modal input,
.add-story-modal textarea {
    width: 280px;
    height: 39px;
    padding: 8px;
    font-size: 14px;
    font-family: 'DM sans', sans-serif;
    border: 1px solid #000000;
    margin-bottom: 20px;
}



.add-story-modal textarea {
    resize: none;
    height: 80px;

}

.category-dis {
    width: 177px;
    font-size: 10px;
    padding: 10px 35px;
    font-weight: 500;
    color: #000000;

}

/* Category Select */
.add-story-modal select {
    width: 280px;
    height: 39px;
    border: 1px solid #000000;
    padding: 8px;
    font-size: 14px;
}

.add-story-modal form div {
    display: flex;

}

/* Previous, Next, and Post Buttons */
.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.previous-btn {
    background-color: #7EFF73;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 115.87px;
    height: 41.3px;
    margin-left: 20px;
}

.next-btn {
    background-color: #73ABFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 115.87px;
    height: 41.3px;
}

.post-btn {
    background-color: #FF7373;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
    width: 115.87px;
    height: 41.3px;
}
.title{
    display: none;
    position: relative;
}
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 105px;
    /* Add margin-top to move the error message down */
    text-align: center;
}

@media (max-width: 480px) {
    .add-story-modal {
        display: flex;
        gap: 10px;
    }

    .slide-btn-container {
        display: flex;
        flex-direction: column;

    }

    .add-story-modal {
        width: 80%;
        height: 70%;
        align-items: center;
        padding: 0px;

    }

    .category-dis ,.add-story-header p {
        display: none;
    }

    .add-slide-btn, .slide-btn {
        width: 60px;
        height: 15%;
        padding: 10px;
    }
    .add-story-modal form div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .add-story-modal label {
        margin-left: 0px;
    }
    
    .add-story-modal input,
    .add-story-modal textarea {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    
    /* Category Select */
.add-story-modal select {
    width: 100%;
    height: auto;

}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.previous-btn ,.next-btn {
   display: none;
}

.post-btn {
    
   margin: auto;
    width: 115.87px;
    height: 41.3px;
}

.add-story-header img {
    left: 280px;
    bottom: 270px;
}

.error-message {
    margin-top: 0px;
}
.title{
    position: relative;
    display: flex;
    right: 15%;
    bottom: 30px;
}
}