.home-page {
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden; 
}


.category-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden; 
  padding: 10px;
  margin-bottom: 20px;
  scroll-behavior: auto; 
  position: relative;
  gap: 20px;
}


.category-slider::-webkit-scrollbar {
  display: none;
}

.category-item {
  width: 100%;
  min-width: 250px; 
  aspect-ratio: 235 / 235; 
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 15px;
  cursor: pointer;
  overflow: hidden;
  background-color: #00000099;
}


.category-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: blur(0.5px) brightness(40%);
}

.category-item.active {
  border: 5px solid #00ACD2;
}

.category-item span {
  position: absolute;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
}

.story-section {
  text-align: center;
  margin-top: 40px;
}

.story-section h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 50px;
}

.no-stories {
  color: #8E8E8E;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 180px;
  margin-top: 120px;

}


.story-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); 
  grid-gap: 50px; 
  padding: 0 40px; 
  margin: 0 auto; 
  max-width: 100%; 
}

.story-card {
  width: 100%;
  height: auto;
  aspect-ratio: 257 / 450; 
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}


.see-more-button {
  background-color: #FF7373;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-page {
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden; 
}


.category-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden; 
  padding: 10px;
  margin-bottom: 20px;
  scroll-behavior: auto; 
  position: relative;
  gap: 10px; 
}


.category-slider::-webkit-scrollbar {
  display: none;
}

.category-item {
  min-width: 200px; 
  aspect-ratio: 235 / 235; 
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: #00000099;
}

.category-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: blur(0.5px) brightness(40%);
}

.category-item.active {
  border: 5px solid #00ACD2;
}

.category-item span {
  position: absolute;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
}


.story-section {
  text-align: center;
  margin-top: 40px;
}

.story-section h2 {
  font-size: 24px; 
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.no-stories {
  color: #8E8E8E;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 40px;
}


.story-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); 
  grid-gap: 30px; 
  padding: 0 40px; 
  margin: 0 auto;
  max-width: 100%;
}


.see-more-button {
  background-color: #FF7373;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 1200px) {
  .story-list {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .category-item span {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .story-list {
    grid-template-columns: repeat(2, minmax(150px, 1fr)); 
    padding: 0 20px;
  }
  .category-item {
    min-width: 150px; 
  }
  .category-item span {
    font-size: 16px;
  }
  .your-stories-section{
    display: none;
  }
}

@media (max-width: 480px) {
  .story-list {
    grid-template-columns: 1fr; 
    padding: 0 15px;
  }
  .category-item {
    min-width: 130px;
    aspect-ratio:142/95;
    border-radius: 15px;
     
  }
  .category-item span {
    font-size: 14px;
  }
  .your-stories-section{
    display: none;
  }
}
