.story-card-wrapper {
  position: relative;
  width: 100%;
  /* Keep the same width as the story card */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 257 / 459;
  /* Maintain aspect ratio */
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-decoration: none;
  color: inherit;
}



.story-card__image {
  position: relative;
  height: 100%;
  width: 100%;
}

.story-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.story-card__gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 55%),
    linear-gradient(0deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 55%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.story-card__gradient h3 {
  height: 26px;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.story-card__gradient p {
  height: 46px;
  font-size: 15px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 5px 0 0;
}

/* Edit button styling */
.story-card__edit-btn {
  position: absolute;
  bottom: -20px;
  background-color: #fff;
  color: #000000;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  margin-top: 10px;
  min-width: 79px;
  min-height: 34px;
  aspect-ratio: 100/40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-card__edit-btn img {
  width: 24px;
  height: 24px;
  padding: 2px 3px 3px 2px;
}